<%include layout %>
<body>
	<div class="jumbotron">
		<form method="post" action="/search">
			<input type="text" name="search" class="form-control">
			<input type="text" name="page" class="form-control">
			<input type="submit">
		</form>
	</div>
</body>